{% extends "newsapp/base.html" %}
{% load static %}
<body>
    <main>
        {% block content %}
        <div class= "article-sec">
            <div class="articles-container"id="Top-Stories">
                <div class="content-header">
                    <a class="Homeheader" href="http://127.0.0.1:8000/top-stories/">Top Stories</a>
                </div>
                {% for article in top5_articles %}
                <div class="article">
                    <div>
                        <p>{{ article.Headline }}</p>
                        <a href="{{ article.Link }}">Click here for full article</a>
                        <p id="author">{{ article.Author }}</p>
                        <p id="time">- {{ article.Timestamp }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="articles-container" id="Local News">
                <div class="content-header">
                    <a class="Homeheader" href="http://127.0.0.1:8000/local-news/">Local News</a>
                </div>
                {% for article in local5_articles %}
                <div class="article">
                    <div>
                        <p>{{ article.Headline }}</p>
                        <a href="{{ article.Link }}">Click here for full article</a>
                        <p id="author">{{ article.Author }}</p>
                        <p id="time">- {{ article.Timestamp }}</p>
                    </div>
                </div>
                {% endfor %}
        </div>
        {% endblock %}
    </main>
</body>
