{% extends "newsapp/base.html" %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Express Update</title>
</head>
<body>
    <main>
        {% block content %}
        <div class="article-sec">
            <div class="articles-container">
                <div class="content-header" id="Top-Stories">
                    <button class="back-button" onclick="history.back()">←</button>
                    <h1 class="page-title">Local News</h1>
                </div>
                {% for article in local_news %}
                <div class="article">
                    <div>
                        <h2>{{ article.Headline }}</h2>
                        <a href="{{ article.Link }}">Click here for full article</a>
                        <p id="author">{{ article.Author }}</p>
                        <p id="time">- {{ article.Timestamp }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </main>
</body>
</html>
